aiohttp==3.8.1
aioresponses==0.7.3
aiormq==6.4.1
apscheduler==3.9.1
azure_storage==0.37.0
boto3==1.24.52
botocore==1.27.52
bpemb==0.3.3
cachecontrol==0.12.11
colorama==0.4.4
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
cryptography==37.0.4
datadog_api_client==2.2.0
fakeredis==1.9.0
fbmessenger==6.0.0
Flask==2.2.2
freezegun==1.2.2
github3.py==3.2.0
ipython==8.4.0
jieba==0.42.1
joblib==1.1.0
jsonpickle==2.2.0
jsonschema==4.4.0
keras==2.7.0
matplotlib==3.5.3
memory_profiler==0.60.0
mitie==0.7.36
mongomock==4.1.2
moto==3.1.18
mypy_extensions==0.4.3
networkx==2.8.5
numpy==1.22.1
packaging==21.3
pamqp==3.2.0
pep440_version_utils==0.3.0
prompt_toolkit==3.0.24
protobuf==4.21.5
psutil==5.9.1
PyJWT==2.4.0
pykwalify==1.8.0
pymongo==4.2.0
pyOpenSSL==22.0.0
pyTelegramBotAPI==4.7.0
pytest==7.1.2
pytest_sanic==1.9.1
python_dateutil==2.8.2
pytz==2022.2.1
questionary==1.10.0
randomname==0.1.5
rasa_sdk==3.2.0
redis==4.3.4
regex==2022.7.25
requests==2.27.1
responses==0.21.0
rocketchat_API==1.26.0
ruamel.base==1.0.0
sanic==22.6.2
sanic_cors==2.1.0
sanic_jwt==1.8.0
sanic_testing==22.6.0
scikit_learn==1.1.2
scipy==1.9.0
sentry_sdk==1.9.5
setuptools==58.1.0
sklearn_crfsuite==0.3.6
spacy==3.4.1
SQLAlchemy==1.4.40
tarsafe==0.0.3
tensorflow_addons==0.17.1
tensorflow_hub==0.12.0
tensorflow_text==2.9.0
terminaltables==3.1.10
toml==0.10.2
tqdm==4.62.3
transformers==4.21.1
typeguard==2.13.3
typing_extensions==4.3.0
typing_utils==0.1.0
vosk==0.3.43
webexteamssdk==1.6.1
websockets==10.3
yarl==1.8.1
