{% extends 'base.html' %}

{% block content %}
<div class="container_2" style="font-family:'Courier New';font-weight: bold; display: inline-block;">
  
  <p style="color: #ff2222; font-size: 40px;"> Requirements:<br> 
    Device: Windows, Linux or Android<br>
    Browser: Chrome, Edge or Opera.<br> </p>
    <p style="color: #ff2222; font-size: 20px; padding-bottom: 50px;"> Safari (Apple Browser) users please navigate to preferences/websites/general/auto-play and enable "Allow all Auto-Play", otherwise the audio will not work. <br><br><br> </p>

  Welcome! &#129321 <br> You have found your way to an experiment about a voice-assistant empathic therapy bot. <br>
First, The bot will guide you through a little conversation of about 5 minutes. At the end it will ask you to follow a link to a short questionnaire, which should take another 5 minutes.<br> 
Your data stays anonymous. The things you say during the session are not saved, and the questionnaire is anonymous. <br><br>

Please read the following instructions for using the experiment website carefully: <br><br>

1) Make sure your sound is not muted, because the bot will try to talk to you. <br><br>
2) Make sure your Microphone is not muted. You may have to give microphone permissions in your browser, when you first press on <span style="color: #00ff37">Record</span>.<br><br>
3) Before speaking, press <span style="color: #00ff37">Record</span>. To stop recording, you have to press <span style="color: #ff2222">Stop</span>. The processing of your input might take a while (server running on potatoes).<br><br>
4) It's a prototype, so load times can take a few seconds as mentioned before. If the loading animation stays longer than 1 minute, please reload the page to try again and if the error persists use the textual input. <br><br>
5) Even though the study investigates a voice based interaction, you can change to textual input in the top left corner, in case the audio did not work. Make sure to report that in the following questionnaire, its important for us to know!<br><br>
6) Press "Restart" in the top left corner, if you wish start anew. <br><br>
7) Press "Help" in the top left corner, to see these tips again, but keep your conversation progress. <br><br>
8) Enjoy! &#128578 When you are ready, press "Ready". <br><br>

<div style="padding-bottom: 25px;">

  <button  type="button" class="btn btn-success btn-lg btn3d" id="recordButton"  onclick="location.href='/';">
    Ready
  </button>
</div>
</div>
{% endblock %}
