{% extends 'base.html' %}

{% block content %}
<div class="container_2" style="font-family:'Courier New';font-weight: bold; display: inline-block;">

Welcome! &#129321 <br> You have found your way to an experiment about an empathic therapy bot. <br>
First, The bot will guide you through a little conversation of about 5 minutes. At the end it will ask you to follow a link to a short questionnaire, which should take another 5 minutes.<br> 
Your data stays anonymous. The things you say during the session are not saved, and the questionnaire is anonymous. <br><br>

Please read the following instructions for using the experiment website: <br><br>


1) Please make sure that you are the only one on your local wifi to do the experiment at the time, otherwise the chatbot will get confused. Or use mobile data. Thanks. <br><br>
2) Make sure your Microphone is not muted. You may have to give microphone permissions, when you first press on <span style="color: #00ff37">Record</span>.<br><br>
3) Before speaking, press <span style="color: #00ff37">Record</span>. To stop recording, you have to press <span style="color: #ff2222">Stop</span>. The processing of your input might take a while.<br><br>
4) Even though the study investigates a voice based interaction, you can change to textual input in the top left corner, in case the audio does not work. Make sure to report that in the following questionnaire, its important for us to know!<br><br>
5) You can reload the page at any time, if you wish start anew. <br><br>
6) It's a prototype, so load times can take a few seconds. If the loading animation stays longer than 30s please reload the page to try again and if the error persists use the textual input. <br><br>
7) Enjoy! &#128578 When you are ready, press "Ready". <br><br>

PS: Safari users please navigate to preferences/websites/general/auto-play and enable "Allow all Auto-Play", otherwise the audio will not work. <br><br>

  <button type="button" class="btn btn-success btn-lg btn3d" id="recordButton" onclick="location.href='/audio';">
    Ready
</button>
</div>
{% endblock %}
