{% extends 'base.html' %}

{% block content %}
<div class="container_2" style="font-family:'Courier New';font-weight: bold; display: inline-block;">

Welcome! &#129321 <br> You have found your way to an experiment about an emotion understanding therapy bot. <br>
First, The bot will guide you through a little conversation of about 5 minutes. At the end it will ask you to follow a link to a short survey, which also takes about 5 minutes.<br> 
Everything is totally anonymous. The things you say during the session are not saved, and the survey is anonymous. <br><br>
Following a little tutorial about how to speak to the bot: <br><br>

1) Make sure your Microphone is not muted. You may have to give microphone permissions, when you first press on <span style="color: #00ff37">Record</span>.<br><br>
2) Before speaking, press <span style="color: #00ff37">Record</span>. To stop recording, you have to press <span style="color: #ff2222">Stop</span>. The processing of your input might take a while.<br><br>
3) If there are problems with the audio, or the bot does not understand you, you can change to textual input in the top left corner. Make sure to report in the following survey, that the audio did not work for you.<br><br>
4) You can reload the page at any time, if you wish start anew. <br><br>
5) Enjoy! &#128578 When you are ready, press "Ready". <br><br>

  <button type="button" class="btn btn-success btn-lg btn3d" id="recordButton" onclick="location.href='/audio';">
    Ready
</button>
</div>
{% endblock %}
